#elements {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 98%;
  margin: auto;
  margin-bottom: 15px;
}

#elements td, #elements th {
  border: 1px solid #ddd;
  padding: 8px;
}

#elements tr:nth-child(even){background-color: #f2f2f2;}

#elements tr:hover {background-color: #ddd;}

#elements th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4c95ae;
  color: white;
}